
.article
  .cover_article(style="background-image: url('#{article.imagePath}');")
  .info
    i #{article.publishDate}
  .title
    a(href='/articles/#{article._id}', target='_blank') #{article.title}
  .description #{article.description}
