<<<<<<< HEAD
=======

>>>>>>> 0bed88e16368eda05ba507ff317c08d5e568fd79
.article
  .cover_article(style="background-image: url('#{article.imagePath}');")
  .info
    i #{article.publishDate}
  .title
    a(href='/#{article._id}', target='_blank') #{article.title}
  .description #{article.description}
