extends ../layout

<<<<<<< HEAD
block content
  div(class='articleBox')
    span(class='articleDate') #{article.publishDate}
    h2(class='articleTitle') #{article.title} 
    image(src='#{article.imagePath}', alt='#{article.imageTitle}' class='articleImg')
    p #{article.content}
=======
block content    
    div(class='articleBox')
      span(class='articleDate') #{article.publishDate}
      h2(class='articleTitle') #{article.title} 
      image(src='#{article.imagePath}', alt='#{article.imageTitle}' class='articleImg')
      p #{article.content}
>>>>>>> 0bed88e16368eda05ba507ff317c08d5e568fd79
